
.button{
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    text-indent: none;
    padding: 18px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    width: 10.3em;
    margin: 0 auto 2em;
    background: none;
    border: 2px solid #111;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    color: black;
    border: 2px solid #111;
}
.button-row {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 34em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  